body {
    
    background-image: url('https://img.freepik.com/free-photo/heart-shape-stethoscope-medical-subjects_23-2150254045.jpg?size=626&ext=jpg&ga=GA1.1.386372595.1698451200&semt=ais');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
  
 
